extends layout

block content
  h1(class='title')= title
  table(class='wage-table')
    tr
      th(class='id') ID
      th(class='name') Name
      th(class='total-hours') Total Hours Worked
      th(class='overtime') Monthly Overtime (hrs)
      th(class='wage') Monthly Wage
    each employee in data
      tr
        td(class='id')= employee.employeeId
        td(class='name')= employee.employeeName
        td(class='total-hours')= employee.monthlyHours
        td(class='overtime')= employee.monthlyOvertime
        td(class='wage')= employee.monthlyWage
      
      

    
